<footer class="py-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <ul class="list-inline">
          <li class="list-inline-item"><a><img class="img-fluid" src="assets/images/facebook.png"></a></li>
          <li class="list-inline-item"><a><img class="img-fluid" src="assets/images/circle.png"></a></li>
          <li class="list-inline-item"><a><img class="img-fluid" src="assets/images/linkedin.png"></a></li>
          <li class="list-inline-item"><a><img class="img-fluid" src="assets/images/youtube.png"></a></li>
          <li class="list-inline-item"><a><img class="img-fluid" src="assets/images/twitter.png"></a></li>
        </ul>
        <a><img src="assets/images/chat.png" class="img-fluid"></a>
      </div>
      <div class="col-lg-6 col-md-4">
        <img src="assets/images/footer-logo.png" class="img-fluid d-block m-auto footer-logo">
        <img src="assets/images/middle-footer.png" class="img-fluid d-block m-auto footer-icons">

      </div>
      <div class="col-lg-3 col-md-4">
           <h4 class="text-white">Newsletter</h4>
           <p class="text-white">Enter your email to get all new about bankrubty</p>
           <div class="join">
           <input type="email" class="form-control" placeholder="Write your emial">
           <button class="btn">Join</button>
          </div>
      </div>
    </div>
  </div>
</footer>

<div class="reserved pb-3">
  <div class="container">
    <h6 class="text-center text-white">All rights reserved &copy; 2020</h6>
  </div>
</div>
